body {
  width: 100%;
  height: 100vh;
  font-family: Tahoma;
  background-color: rgba(0, 100, 255, 0.2);
}

#title {
  text-align: center;
}

form {
  width: 60%;
  min-width: 200px;
  max-width: 600px;
  margin: 0 auto;
  background-color: rgba(0, 100, 127, 0.3);
  border-radius: 25px;
  padding: 40px;
}

#description {
  text-align: center;
}

div {
  border: none;
  padding: 20px 15px;
}

.left-block {
  display: flex;
  margin: 10px 0;
  width: 100%;
}

.checkbox label {
  display: flex;
}

input[type="submit"] {
  display: block;
  width: 60%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: #37af65;
  border-color: white;
  min-width: 300px;
}

.rounded {
  padding: 0.375rem 0.25rem;
  border-radius: 0.25rem;
  border: none;
}
