html {
  background-color: white;
}

main {
  border: 1px solid black;
  border-radius: 15px;
  background-color: #eee;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
}

img {
  display: block;
}

.center {
  text-align: center;
}

h1 {
  width: 100%;
  margin: 0 auto;
}

#image {
  margin: auto;
  max-width: 100%;
}
